/* general styling */
html {
    scroll-behavior: smooth;
    font-family: 'Allura', cursive;
}

body {
    margin: 0;
    background-color: #F5F9E9;
}

.center {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end general styling */




/* navbar section\ */
#navbar-container {
    display: flex;
    justify-content: stretch;
    background-color: #B88C9E;
    transition: 0.5s ease;
    position: fixed;
    width: 100%;
    top: 0;
}

#navbar-container a {
    padding: 20px 30px;
    transition: 0.3s ease;
}

#navbar-container h4 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

#navbar-container a:hover {
    background-color: #5998C5;
    cursor: pointer;
    border-right: 1px solid #F5F9E9;
}

.nav-links {
    text-decoration: none;
    color: #F5F9E9;
}
/* end navbar section */




/* title  */
#title {
    margin-bottom: 0;
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem;
}
/* end title  */




/* slideshow section */
.slideshow-image {
    text-align: center;
    background-color: #F5F9E9;
    height: 40rem;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40rem;
}

.slideshow-image h3 {
    margin: 0;
}

.slideshow-content {
    margin: auto;
    opacity: 70%;
    padding: 10px 0 2px 0;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    width: 30%;
    position: relative;
    top: 200pt;
}

#slide1 {
    background-image: url("../images/header1.jpg");
    display: block;
}

#slide2 {
    background-image: url("../images/header2.jpg");
    display: none;
}

#slide3 {
    background-image: url("../images/header3.jpg");
    display: none;
}
/* end slideshow section */




/* start about section  */
#about {
    margin: 0 20rem;
}

#bio {
    font-family: cursive;
    text-align: left;
    font-size: 2.5rem;
}

#selfie {
    height: 40rem;
}

#about-title {
    text-align: center;
    color: #B88C9E;
    font-size: 5rem;
    margin-bottom: 0;
}
/* end about section  */




/* start gallery section */
#gallery {
    text-align: center;
}

#gallery-title {
    color: #B88C9E;
    font-size: 5rem;
    margin-bottom: 0;
}

#pricing-info {
    font-size: 2rem;
}

#wreaths-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#wreaths-container img {
    object-fit: cover;
    width: 25rem;
    height: 25rem;
    padding: 1rem;
}
/* end gallery section  */




/* contact section */
#contact-section {
    font-size: 1.5rem;
    padding: 50pt 0;
    text-align: center;
}

#contact-section i {
    font-family: 'IM Fell Double Pica', serif;
}

#contact-title {
    color: #B88C9E;
    font-size: 5rem;
    margin-bottom: 0;
}

#contact-content {
    font-family: 'IM Fell Double Pica', serif;
    background-color: #B88C9E;
    border: solid 1pt rgb(0, 0, 0);
    margin: 20pt 200pt;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}

#contact-info {
    padding: 0;
    text-align: left;
    list-style-type: none;
    margin: 0;
}

#contact-info a {
    /* text-decoration: none; */
    color: inherit;
}

#contact-info li {
    padding: 5pt 0;
}

#contact-info span {
    font-weight: bold;
    font-style: italic;
}

#phone a:hover, #email a:hover, #facebook a:hover {
    color: #F5F9E9;
    font-weight: bold;
    cursor: pointer;
}
/* end contact section */




/* footer */
footer {
    padding: 20pt 0;
}

footer p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
/* end footer */




/* phone css  */

@media only screen and (max-width: 900px) {

    #navbar {
        width: 100%
    }

    #navbar-container h4 {
        color: black;
    }

    #title {
        font-size: 3rem;
    }

    #bio {
        margin: 0 5rem;
    }

    #bio p {
        margin: 5rem;
    }

    #wreaths-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    #wreaths-container img {
        margin: 0;
        padding: 0;
    }

    #contact-content {
        margin: 0;
        padding: 0;
        border-left: none;
        border-right: none;
    }
}